
.student-registration-form {
  padding-left: 20px;
}

.student-registration-form h2 {
  margin-bottom: 20px;
}

.student-registration-form form div {
  margin-bottom: 10px;
}


.student-registration-form input,
.student-registration-form select {
  margin-left: 10px;
}

.student-registration-form button[type="submit"] {
  margin-top: 10px;
}
